

services:
  mongodb:
    image: mongo:6
    container_name: mongo_container
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./traindevback
    container_name: node_backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/authdb
    depends_on:
      - mongodb

  frontend:
    build: ./traindev
    container_name: vite_frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
